{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MyAreas</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8"/>
  
            <li><a href="/projet">create my areas</a></li>
            <li><a href="/projet/query">query</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" id="username"></a></li>
            <li><a href="/projet/logout">
          </ul>
        </div>
      </div>
    </nav>

  </body>
</html>
<footer>by @diegoram</footer>
